@import (reference) "../../../styles/main.less";
.navbar-inverse .logo {
    background-image: url('../images/kibana_on_openshift.png');
    background-size: contain;
    height: 45px;
    width: 300px;
}
.container-header {
  border-top: 3px solid red;
  background: #030303;
  color: #f1f1f1;
  padding-left: 17px;
  margin-bottom: 4px;
  height: 50px;
}
.container-header h4 {
  margin-top: 4px;
  margin-bottom: 3px;
}
.container-header a {
  color: #0099d3;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 4px;
}
.container-header a:hover,
.container-header a:focus {
  color: #00618a;
  text-decoration: underline;
}

